.header {
  position: -webkit-sticky; /* поддержка Safari */
  position: sticky;
  top: 0;
  z-index: 10;
  background: white;
  border-bottom: 0px solid #ddd;
  padding: 15px 0;
}

.header-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

.nav a {
  color: #333;
  text-decoration: none;
  margin-left: 20px;
  font-size: 16px;
}

.nav a:hover {
  text-decoration: underline;
}
