.notfound-wrapper {
  padding: 40px;
  text-align: center;
}

.notfound-wrapper h1 {
  font-size: 34px;
  margin-bottom: 20px;
}

.notfound-btn {
  padding: 10px 16px;
  border: none;
  background: #007aff;
  color: #fff;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: opacity .15s;
}

.notfound-btn:hover {
  opacity: 0.8;
}
